@tailwind base;
@tailwind components;
@tailwind utilities;

.iso {
  background-image: url(./assets/iso2.png);
  background-repeat: no-repeat;
  background-position: center center;
}

@media (min-width: 1024px) {
  .iframeai {
    width: 24vw;
  }
}
.iframeai {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  border: none;
  background-color: transparent;
}
